<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RMS_AssignPictures2Inventory.Properties.Settings.berkeleyConnectionString"
            connectionString="Data Source=192.168.1.22;Initial Catalog=berkeley;Persist Security Info=True;User ID=developer;Password=zaoreo112233"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>